{% load staticfiles %}
<html>
<head>
<script src="js.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
<style>

</style>
	<title>Daphne Moguella</title>
</head>
<body class="home">
    <div style="background-color: rgba(255,255,255,0.35);">
    <ul>
        <li><a class="balk_zwart" href="{% url 'post_list' %}" id="Bar-home">Home</a></li>
        <li><a class="balk_zwart" href="{% url 'a_view' %}">Blog</a></li>   
        <li> <a class="balk_zwart" href="{% url 'b_view' %}">Foto's</a></li>
        <li> <a class="balk_zwart" href="{% url 'c_view' %}">Extra</a></li>
    <div class="search" style="text-align: right; ">            
        <form action="http://daphnemoguella.pythonanywhere.com/">
        <input type="text" name="search" placeholder="search..." style="width: 150px" />
        <input type="submit" value= "Go">
        </form>
    </div>
	<div>
		<h1 id="A_Title">Mijn reis naar Uruguay</h1>
	</div>
	<br>
	<div >
		{% for post in posts %}
			<div id="posts">
			<h2 id="post_title"> {{ post.title }}</h2>
			<p> {{ post.text }}</p>
			<p>{{ post.text|linebreaksbr }}</p>
			<p> {{ post.published_date }} </p>
			</div>
			<br>
		{% endfor %}
	</div>



</body>
</html>
