<!DOCTYPE html>
<html>
<head>
	<script src="js.js"></script>
<link rel="stylesheet" type="text/css" href="blog.css">
</head>
	<body>
	<div style="background-color: white">
	<ul>
		<li><a href="post_list.html">Home</a></li>
		<li class="dropdown">
			<a href"javascript:void(0)"
	class="dropbtn">Blog</a>
			<div class="dropdown-content">
				<a href="A.html">A</a>
				<a href="B.html">B</a>
				<a href="C.html">C</a>			
			</div>
		<li><a href="about_me.html">About me</a></li>
		<li><a href="contact.html">Contact</a></li>
	<div class="search" style="text-align: right; ">			
		<form action="http://daphnemog.pythonanywhere.com/">
		<input type="text" name="search" placeholder="search..." style="width: 150px" />
		<input type="submit" value= "Go">
		</form>
	</div>
	</ul>
	<div style="background-color:  green">
		<p>BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB</p>
	</div>


</body>
</html>