{% load staticfiles %}
<html>
<head>
<script src="js.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
<style>

</style>
	<title>Daphne Moguella</title>
</head>
<body class="home">
    <div style="background-color: rgba(255,255,255,0.35);">
    <ul>
        <li><a class="balk_zwart" href="{% url 'post_list' %}">Home</a></li>
        <li><a class="balk_zwart" href="{% url 'a_view' %}">Blog</a></li>   
        <li> <a class="balk_zwart" href="{% url 'b_view' %}">Foto's</a></li>
        <li> <a class="balk_zwart" href="{% url 'c_view' %}">Extra</a></li>
    <div class="search" style="text-align: right; ">            
        <form action="http://daphnemoguella.pythonanywhere.com/">
        <input type="text" name="search" placeholder="search..." style="width: 150px" />
        <input type="submit" value= "Go">
        </form>
    </div>
	<div id="B_title" >
		<h1>Foto's</h1>
	</div>
	<div>
	<h3> DE fotos zet ik na de vakantie online</h3>
	<h3> <a href="https://photos.app.goo.gl/7wA3v0aFgPYS6Uki2"> Klik hier <a/>  om de fotos alvast te kunnen zien</h3>
	</div>

</body>
</html>