{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
<style>

</style>
    <title>Daphne Moguella</title>
</head>
<body class="home">
    <div style="background-color: rgba(255,255,255,0.35);">
    <ul >
        <li ><a class="balk_home" href="{% url 'post_list' %}">Home</a></li>
        <li><a class="balk_home" href="{% url 'a_view' %}">Blog</a></li>   
        <li> <a class="balk_home" href="{% url 'b_view' %}">Foto's</a></li>
        <li> <a class="balk_home" href="{% url 'c_view' %}">Extra</a></li>
    <div class="search" style="text-align: right; ">            
        <form action="http://daphnemoguella.pythonanywhere.com/">
        <input type="text" name="search" placeholder="search..." style="width: 150px" />
        <input type="submit" value= "Go">
        </form>
    </div>
    </ul>
    </div>
    <div class="home-video">
        <video id="home-bgd-video" preload="auto" autoplay="true" loop="loop" muted="muted"> 
            <source src="{% static 'Images/Background.mp4' %}" type="video/mp4" >
            Your browser does not suport this video. I'm sorry. :-(
        </video>
    </div>
    <div class="home-content">
        <h1> Daphne Moguella</h1>
    </div>
s
  
</body>
</html>
