<html>
<head>
<script src="js.js"></script>
<link rel="stylesheet" type="text/css" href="blog.css">
<style>

</style>
	<title>Daphne Moguella</title>
</head>
<body>
	<div style="background-color: white">
	<ul>
		<li><a href="post_list.html">Home</a></li>
		<li class="dropdown">
			<a href"javascript:void(0)"
	class="dropbtn">Blog</a>
			<div class="dropdown-content">
				<a href="A.html">A</a>
				<a href="B.html">B</a>
				<a href="C.html">C</a>			
			</div>
		<li><a href="about_me.html">About me</a></li>
		<li><a href="contact.html">Contact</a></li>
	<div class="search" style="text-align: right; ">			
		<form action="http://daphnemog.pythonanywhere.com/">
		<input type="text" name="search" placeholder="search..." style="width: 150px" />
		<input type="submit" value= "Go">
		</form>
	</div>
	</ul>
	</div>
	<div class="banner" style="text-align: center; background-color: black;"><img src="Images/Banner.jpeg" style="width:944px;"/>
    <br>
	<div class="nav3" style="height:0px;">
    <a href="A.html" class="icons"><img src="Images/A.png" style="width: 500px"></a>
    <a href="B.html" class="icons"><img src="Images/B.png" style="width: 500px"></a>
    <a href="B.html" class="icons"><img src="Images/C.png" style="width: 500px"></a>
	</div>
</body>
</html>
