<html>
	<head>
		<title>Daphne Moguella</title>
	</head>
	<body>
	<div>
		<h1>Daphnes Blog </h1>
	</div>
		<br />
	
		{% for post in posts %}
    	
    <div>
        <p>published: {{ post.published_date }}</p>
       	<h1><a href="">{{ post.title }}</a></h1>
       	<p>{{ post.text|linebreaksbr }}</p>
    </div>
		{% endfor %}
	<div>
		<p>Published: 20.05.2016</p>
		<p>"Onze resultaten laten zien dat er een verband gevonden is tussen een voedingspatroon met veel proteïnen in de jeugd en een hoger BMI", aldus een van de onderzoekers. "Vervolgonderzoek zal uit moeten wijzen in welke mate proteïnen ingenomen dienen te worden om gezond te blijven."

Bij het onderzoek werd rekening gehouden met de leeftijd van de moeder, opleidingsniveau, etniciteit en het totale aantal calorieën dat op een dag werd ingenomen. Daarnaast hielden de onderzoekers rekening met of het kind borstvoeding had gekregen als baby en hoeveel beweging het kind kreeg.</p>
	</div>
	</body>
</html>
